@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 200;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a7ec4;
  box-shadow: 0px 3px 5px #999;
  /* position: fixed; */
  width: 100%;
  color: white;
}
.logo {
  height: 40px;
  margin: -5px 0 0 20px;
}
nav {
  margin: 1em;
}
nav ul, ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 3.5em;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
}
nav ul li a:hover, nav ul li a.active {
    font-weight: 600;
    color: orange;
}
.title {
    padding-left: 100px;
}

h1 { 
    text-align: left;
    font-size: 2.0em;
    font-weight: 400;
    padding-left: 250px;
}
h2 {
    padding-left: 255px;
    color: #ed7c0d;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
}
footer a { padding: 0 15px; }
p {
    font-size: 1.0em;
    line-height: 1.4em;
    text-align: left;
}
.item {
    width: calc(4em * 5);
    margin: 20px auto;
    padding: 20px;
    background-color: #efefef;
    border-radius: 6px;
    vertical-align: middle;
    border: 1px solid #999;
}
.item img {
    max-width: 300px;
}
.inline {
    display: inline-block;
    width: calc(100% - 20px);
}

.section {
    width: 70%;
    margin: 2% auto 1% auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    position: relative;
    height: fit-content;
}

.body-copy {
    height: 20vh;
    min-width: 150px;
    font-size: 1.3em;
    line-height: 1.8em;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 5px;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }
}

.box {
    flex: 10;
    gap: 10px;
}

/* Form */
* {
    box-sizing: border-box; 
   }
   .form-wrapper {
     display: flex;
     border-radius: 3px;
     padding: 1.8em;
   }
   .message {
     display: flex;
     flex-direction: column;
     order: 2;
   }
   .comments > textarea {
    flex: 1; 
    min-width: 18em;
   }
   .contact {
        flex: 1; 
     order: 1;
        margin-right: 2em; 
   }
   .contact input {
     width: 100%;
   }
   .contact input,
   .contact button {
     padding: 1em;
     margin-bottom: 1em;
   }
   .contact button {
    background: gray;
    color: white;
    border: 0;
   }