@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 200;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a7ec4;
  box-shadow: 0px 3px 5px #999;
  position: fixed;
  width: 100%;
  color: white;
}
.logo {
  height: 40px;
  margin: -5px 0 0 20px;
}
nav {
  margin: 1em;
}
nav ul, ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 3.5em;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
}
.title {
    padding-left: 100px;
}
.intro {
    padding-top: 130px; 
    width: 88%; 
    margin: 0 auto; 
    text-align: center;
}
.intro .block1, .intro .block2 {
    display: inline-block; 
    font-size: 1.5em; 
    line-height: 1.8em;
    vertical-align: middle;
}
.block1 {
    width: 65%;
    text-align: left;
}
.block2 {
    width: 25%;
}
h1 { 
    text-align: left;
    font-size: 2.0em;
    font-weight: 400;
    padding-left: 50px;
}
h2 {
    text-align: center;
    color: #ed7c0d;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
}
footer a { padding: 0 15px; }
p {
    font-size: 1.3em;
    line-height: 1.8em;
    text-align: left;
}
.item {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #efefef;
    border-radius: 6px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.item img {
    display: inline-block;
    padding: 0 10px 0 0;
}
.inline {
    display: inline-block;
}
.item:last-child {
    margin-bottom: 150px;
}